@model IEnumerable<GearUp.Models.Student>
@{
    ViewBag.Title = "LifePlan Edit";        
}

@* This is where the styling for this page is located. Look in Content folder for lifeplan-edit.css *@
<link href="~/Content/lifeplan-edit.css" rel="stylesheet" />

@* This is the container wrapped around our whole edit area *@
<div class="container">

    @* Start of the Top Section (Search Bar and Advisor drop down) *@
    <div id="top-section" class="row">
        <div class="col-md-6">
            @using (@Html.BeginForm())
            {
                <b>Student Name: </b>
                @Html.TextBox("searchTerm", null, new { id = "txtStudentSearch", @class = "form-control" })
                <input class="btn btn-primary" type="submit" value="Search" />
            }﻿
        </div>
        <div class="col-md-6">
            Advisor Drop Down Goes Here...
        </div>
    </div>
    @* End of top section*@   
     
    <div class="row">

        @* Start of the Left Section (All of the input boxes, buttons, etc...) *@
        <div id="left-section" class="col-md-4">
            <div>
                Academic Needs Stuff Goes Here...
            </div>
            <div>
                Educational Goals Stuff Goes Here...
            </div>
            <div>
                Career Goals Stuff Goes Here...
            </div>
            <div>
                <button class="btn btn-default">Cancel</button>
                <butoon class="btn btn-primary">Submit</butoon>
            </div>
        </div>
        @* End of left section *@

        @* Start of the right section (Where the boxes to display info are located) *@
        <div id="right-section" class="col-md-8">
            <div>
                Academic Needs Stuff Goes Here...
            </div>
            <div>
                Educational Goals Stuff Goes Here...
            </div>
            <div>
                Career Goals Stuff Goes Here...
            </div>
            <div>
                <form action="http://localhost:1662/LifePlan/Print">
                    <input class="btn btn-primary" type="submit" value="Print" />
                </form>
            </div>             
        </div>
        @* End of right section *@

    </div>


</div>
@* End of container *@